<h1><%= @shop.name %> <%= bookmark_or_unbookmark %></h1>

<p><%= @shop.address %></p>
<p><%= @shop.neighborhood.name %></p>

<p>"<em><%= @quote.prose %></em>"<%= author_if_author %></p>

<div class="row multi-columns-row shop-gallery">
<% @images.each do |image| %>
  <%= render partial: "image", locals: {image: image, shop: @shop} %>
<% end %>
</div>

<h3>Visit <%= @shop.name %>.</h3>
<div id = "map-canvas"></div>