<h1><%= @shop.name %></h1>

<p><%= @shop.address %></p>
<p><%= @shop.neighborhood.name %></p>

<p>"<em><%= @quote.prose %></em>" – <%= @quote.author %></p>

<div class="row multi-columns-row shop-gallery">
<% @images.each do |image| %>
  <!-- Gallery item start -->
  <div class="col-sm-6 col-md-4 col-lg-4">

    <div class="gallery-item">
      <div class="gallery-image">
        <a href="<%= image["images"]["standard_resolution"]["url"] %>" class="gallery" title="<%= @shop.name %>">
          <img src="<%= image["images"]["standard_resolution"]["url"] %>" alt="">
          <div class="gallery-caption">
            <div class="gallery-icon">
              <span class="icon-magnifying-glass"></span>
            </div>
          </div>
        </a>
      </div>
    </div>

  </div>
  <!-- Gallery item end -->
<% end %>
</div>

<% if current_user %>
<% if !current_user.bookmarked?(@shop) %>
  <%= link_to("Save This.", shop_bookmarks_path(@shop.id), method: :post, class: "btn btn-default") %>
<% else %>
  <%= link_to("Nah.", bookmark_path(current_user.bookmark_id(@shop)), method: :delete, class: "btn btn-default") %>
<% end %>
<% end %>